# This is my config-file (parts of it) as a sample of the new keywords

version 0.14
Name Hit FidoIP BBS 
Location Vienna, Austria
Sysop Gabriel Plutzar

Address 2:31/1

AutoCreateDefaults -p 14 -dupeCheck move -dupeHistory 11
# Let all new created file areas forward to me
AutoFileCreateDefaults 2:31/1.1
FileAreaBaseDir /fido/files

remap Gabriel Plutzar,*,2:31/1.1
remap Sysop,*,2:31/1.1

# This is taken from Serge Koghin's ParToss
# Hope he wouldn't be angry for this
# ATTENTION the commeneed lines are not tested by me (mtt)
# and will mostly only useful on dos-systems
 
Unpack  "unzip -j -Loqq $a $f -d $p" 0 504b0304
#Unpack  "unzip $a $f -d $p" 0 50
#Unpack  unzip -j -Loqq $a $f -d $p 0 504b0304
Pack  zip zip -9 -j -q $a $f

Unpack  "unarc $a $f" 0 1a
Pack  arc a $a $f
 
#Unpack  "pak e /wn $a $p $f" -2 fe
#Pack  pak pak a $a $f
 
#Unpack  "lha e /m $a $p $f" 2 2d6c68
#Pack  lha lha a /o /m $a $f
 
#Unpack  "zoo e:O $a $p $f" 0 5a4f4f
#Pack  zoo zoo a: $a $f
 
#Unpack  "arj e -+ -y $a $p $f" 0 60ea
#Pack  arj arj a -+ -e -y $a $f

#Unpack  "unrar e $a $f $p"  0 52617221
#Pack  rar rar a -std -ep $a $f
 
#Unpack  "jar e -y $a $p $f" 14 1a4a61721b
#Pack  jar jar a -y $a $f
 
#Unpack  "ha eyq $a $f"  0 4841
#Pack  ha ha a21eq $a $f

# include /etc/fido/areas

Link Phillip Krone
Aka 2:313/37
ourAka 2:31/1
Password xxxxxxxxxx
pktPwd
forwardPkts on
EchoMailFlavour crash
AutoAreaCreate on
Packer Zip

Link Mario Mure
Aka 2:335/535
ourAka 2:31/1
Password xenon936
AutoAreaCreate on
EchoMailFlavour crash
Packer Zip

# Many more links deleted

# **************** Points *********************

Link Gabriel
Aka 2:31/1.1
ourAka 2:31/1
Password xxxxxx
EchoMailFlavour hold
Packer Zip
tossgrp S
forwardPkts on

# Many more points deleted

# ****************** Routing Tabelle ****************

route hold noroute 2:31/1.*
route crash 2:31/23 2:31/23
route crash 3:640/954 3:*
route crash 2:246/2098 2:24*
route crash 2:301/1 2:30*

route crash 2:335/535 2:20*
route crash 2:335/535 2:33*
route crash 2:335/535 2:34*
route crash 2:335/535 2:38*
route crash 2:335/535 2:40*
route crash 2:335/535 2:42*
route crash 2:335/535 2:46*
route crash 2:335/535 2:50*
route crash 2:335/535 1:*
#route crash 2:335/535 3:*
route crash 2:335/535 6:*

route crash 2:313/37 *

Inbound		/fido/in
ProtInbound	/fido/in.sec
LocalInbound    /fido/in.loc
Outbound	/fido/out
tempOutbound    /fido/out.tmp
tempInbound     /fido/in.tmp
#MsgBaseDir      Passthrough
MsgBaseDir      /fido/msgb

public		/fido/publicfiles

echotosslog     /fido/log/echotoss.log
importlog       /fido/log/import.log

logFileDir      /fido/log
loglevels       23456789
DupeHistoryDir	/fido/dupes
NodelistDir	/fido/nodelist
magic		/fido/magic
lockfile        /var/lock/hpt.lck

areafixhelp     /fido/bin/areafix.hlp
availableareas  /fido/bin/available.hlp
filefixhelp     /fido/bin/filefix.hlp

NetmailArea NetmailArea /fido/msgb/net Squish
BadArea     BadArea     /fido/msgb/bad squish
DupeArea    DupeArea    /fido/msgb/dupe squish

FileArea wwb /fidos/file/wwb 2:335/535 2:31/1.1 
FileArea wwb_fwdl /fido/files/wwb_fwdl 2:335/535 2:31/1.1 
FileArea preise /fido/files/preise 2:313/37 2:31/1.3 2:31/1.1
FileArea yucknet /fido/files/yucknet 2:313/37 2:31/1.1 2:31/1.3 2:31/1.14
FileArea point4d /fido/files/point4d 2:313/37 2:31/1.1 2:31/1.3 2:31/1.14
FileArea nodediff /fido/files/nodediff -a 2:31/1 2:313/37 2:31/1.1 2:31/1.3 2:31/1.14
FileArea testarea /fido/files/testarea -a 2:31/1 2:31/1.1
FileArea rules24 /fido/files/rules24 -a 2:31/1 2:313/37 2:31/1.1

EchoArea hit.chat /fido/msgb/hit.chat Squish -dupecheck move -dupehistory 11 2:31/1.1 2:31/1.2 2:31/1.3 2:31/1.4 2:31/1.5 2:31/1.6 2:31/1.7 2:31/1.11 2:31/1.14 2:31/1.16 2:31/1.264 2:310/67 2:31/1.666 2:31/1.30 2:31/1.99 2:31/1.21 2:31/1.40 2:31/1.10
EchoArea hit.info /fido/msgb/hit.info Squish -dupecheck move -dupehistory 11 2:31/1.1 2:31/1.2 2:31/1.3 2:31/1.4 2:31/1.5 2:31/1.6 2:31/1.7 2:31/1.11 2:31/1.14 2:31/1.16 2:31/1.264 2:310/67 2:31/1.666 2:31/1.99 2:31/1.21 2:31/1.40 2:31/1.10
EchoArea hit.stat /fido/msgb/hit.stat Squish -dupecheck move -dupehistory 11 2:31/1.1 2:31/1.2 2:31/1.3 2:31/1.4 2:31/1.5 2:31/1.6 2:31/1.7 2:31/1.11 2:31/1.14 2:31/1.16 2:31/1.264 2:310/67 2:31/1.666 2:31/1.99 2:31/1.21 2:31/1.40 2:31/1.10
EchoArea hit.test /fido/msgb/hit.test Squish -dupecheck move -dupehistory 11 2:31/1.1 2:31/1.999 2:31/1.2 2:31/1.5 2:31/1.666 2:31/1.7 2:31/1.3 2:31/1.99 2:31/1.21 2:31/1.40 2:31/1.10
#EchoArea hit.test /fido/msgb/hit.test Squish -manual

EchoArea kiwi's.file /fido/msgb/kiwi's.file -a 2:31/1 Squish 2:310/220 -p 14 -dupeCheck move -dupeHistory 11 2:31/1.1 2:31/1.2 2:31/1.3 2:31/1.4  2:31/1.5 2:31/1.7 2:31/1.14 2:31/1.40 2:31/1.99 2:31/1.21 2:31/1.10
EchoArea kiwi's.chat /fido/msgb/kiwi's.chat -a 2:31/1 Squish 2:310/220 -p 14 -dupeCheck move -dupeHistory 11 2:31/1.1 2:31/1.2 2:31/1.3 2:31/1.4  2:31/1.5 2:31/1.7 2:31/1.14 2:31/1.40 2:31/1.99 2:31/1.21 2:31/1.10
EchoArea kiwi's.info /fido/msgb/kiwi's.info -a 2:31/1 Squish 2:310/220 -p 14 -dupeCheck move -dupeHistory 11 2:31/1.1 2:31/1.2 2:31/1.3 2:31/1.4  2:31/1.5 2:31/1.7 2:31/1.14 2:31/1.40 2:31/1.99 2:31/1.21 2:31/1.10

EchoArea bazar.aus /fido/msgb/bazar.aus Squish 2:313/37 -p 14 2:31/1.1 2:31/1.3 2:31/1.7 2:31/1.99 2:31/1.40 2:31/1.10 2:31/1.2620
EchoArea net310.aus /fido/msgb/net310.aus -a 2:31/1 Squish 2:313/37 -p 14 -dupeCheck move -dupeHistory 11 2:31/1.1 2:31/1.3 2:31/1.99 2:31/1.14 2:31/1.2620
EchoArea garten.ger /fido/msgb/garten.ger -a 2:31/1 Squish 2:246/2098 -p 14 -dupeCheck move -dupeHistory 11 2:31/1.1 2:31/1.99
EchoArea cia.help /fido/msgb/cia.help -a 2:31/1 Squish 2:313/37 -p 14 -dupeCheck move -dupeHistory 11 2:31/1.14 2:31/1.1
EchoArea syschat /fido/msgb/syschat -a 2:31/1 Squish 2:313/37 -p 14 -dupeCheck move -dupeHistory 11 -manual -h 2:31/1.1 2:31/1.14 2:31/1.40
EchoArea linux.aus /fido/msgb/linux.aus -a 2:31/1 Squish 2:313/37 -p 14 -dupeCheck move -dupeHistory 11 2:31/1.1 2:31/1.3 2:31/1.7 2:31/1.99 2:31/1.21 2:31/1.4 2:31/1.10
EchoArea fidostuff.aus /fido/msgb/fidostuff.aus -a 2:31/1 Squish 2:313/37 -p 14 -dupeCheck move -dupeHistory 11 2:31/1.1 2:31/1.3 2:31/1.14
EchoArea technics.aus /fido/msgb/technics.aus -a 2:31/1 Squish 2:313/37 -p 14 -dupeCheck move -dupeHistory 11 2:31/1.1 2:31/1.3 2:31/1.99 2:31/1.2620

# Many more areas deleted
