Source: htick
Section: mail
Priority: optional
Maintainer: Pavel Andreew <sfpavel@users.sourceforge.net>
Build-Depends: debhelper (>> 4.0.0), libsmapi-dev (>=2.4-1), libfidoconf1-dev (>=1.4-1)
Standards-Version: 3.6.1

Package: htick
Architecture: any
Depends: ${shlibs:Depends}
Description: File ticker for FTN-Networks
 Great file ticker for FTN-Networks.
 It is part of the Husky-Project.
