Source: htick
Section: contrib/mail
Priority: optional
Maintainer: Pavel Andreew <pavel@collage.etel.ru>
Build-Depends: debhelper (>> 4.0.0), libsmapi2cur-dev (>=2.5-1), libfidoconf1-dev (>=1.9-1)
Standards-Version: 3.5.8

Package: htick
Architecture: any
Depends: ${shlibs:Depends}
Description: File ticker for FTN-Networks
 Great file ticker for FTN-Networks.
 It is part of the Husky-Project.
